@media screen and (max-width:720px){

    img#whatsapp {

        position: sticky;
        width: 1000px;
        bottom: 20px;
        padding-right: 5%;
        float: right;
        
    
    }

    

}


@font-face {

    font-family: 'Bradley';
    src: url("../fontes/bradley-hand-itc.ttf");
    
}

@font-face {

    font-family: 'Edwardian';
    src: url("../fontes/edwardian-script-itc.ttf");
    font-weight: bold;
}

body {

    background-color: white;
    font-family: Arial, sans-serif;
    text-align: justify;
    
}

a {

    text-decoration: none;
    color: red;
}

div#interface {

    width: 1060px;
    margin: auto auto auto auto;
    
     
    

}

header#cabecalho {

    height: 200px;
    border-bottom: 1px solid black;
     
    
    
}


header#cabecalho img#icone {
    
    position: absolute;
    right: 20px;    
    top: 80px;
    width: 350px;
}

header#cabecalho h1{

    font-family: 'Edwardian';
    font-size: 140px;
    font-variant: normal;
    color: red;
    margin-top: 0px;
    margin-bottom: -35px;
    
    
}

header#cabecalho h2{

    font-family: 'Bradley';
    margin-top: 0;
    margin-left: 50px;
    font-size: 40px;
    color:black;
        
}

nav#menu {

    display: block;


}

nav#menu h1 {

    display: none;

    
}

nav#menu ul {

    list-style: none;
    text-transform: uppercase;
    position: absolute;
    top: -10px;
    right: 1%;
    
}

nav#menu li {

    display: inline-block;
    background-color: red;
    padding: 10px;
    margin: 4px;
    border: outset;
    border-color: red;
    font-size: 100%;

    
}

nav#menu li:hover a{

    color: red;
            
}

nav#menu li:hover {

    background: white;
            
}


nav#menu a {

    color: white;
    text-decoration: none;

    
}

nav#menu a:hover{

    color: red;
    
    
}

section#corpo {

    width: 500px;
    float: left;
    border-right: 1px solid black;
    padding: 15px;

}

section#corpo-servicos {

    width: 500px;
    float: left;
    border-right: 1px solid black;
    font-size: 12pt;
    padding: 15px;

}

section#corpo-contato {

      
    border: 1px solid black;
    font-size: 15pt;
    padding: 15px;
    text-align: center;
    

}

section#corpo-trabalhe-conosco {

      
    border: 1px solid black;
    font-size: 15pt;
    padding: 15px;
    text-align: center;
    

}


section#corpo h2 {

    color: white;
    background: red;
    border: 1pt solid black;
    padding: 5px;
    font-size: 15pt;
    text-align: center;

}


section#corpo-servicos h2 {

    color: white;
    background: red;
    border: 1pt solid black;
    padding: 5px;
    font-size: 15pt;
    text-align: center;

}

section#corpo-contato h2 {

    color: white;
    background: red;
    border: 1pt solid black;
    padding: 5px;
    font-size: 15pt;
    text-align: center;

}

section#corpo-contato a {

    text-decoration: none;
    color: red;

}

section#corpo-trabalhe-conosco h2 {

    color: white;
    background: red;
    border: 1pt solid black;
    padding: 5px;
    font-size: 15pt;
    text-align: center;

}



section#corpo-trabalhe-conosco ul#habilidades {

    text-align: left;
    
    list-style-position: outside;
    
    
}

section#localizacao {

    border: 1px solid black;
    

}

/* Hover h2 home */

section#corpo h2:hover {

    color: red;
    background: white;
    border: 1pt solid black;

}

aside#lateral h2:hover {

    color: red;
    background: white;
    border: 1pt solid black;

}

/* Hover h2 serviços */

section#corpo-servicos h2:hover {

    color: red;
    background: white;
    border: 1pt solid black;

}

aside#lateral-servicos h2:hover {

    color: red;
    background: white;
    border: 1pt solid black;

}

/* Hover h2 contato */

section#corpo-contato h2:hover {

    color: red;
    background: white;
    border: 1pt solid black;

}

/* Hover h2 trabalhe conosco */

section#corpo-trabalhe-conosco h2:hover {

    color: red;
    background: white;
    border: 1pt solid black;

}


img#foto {

    width: 500px;

}


img#foto-trabalhe {

    width: 800px;

}

img.servicos {

    width: 500px;

}

img.contato {

    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    

}


aside#lateral {

    width: 500px;
    display: block;
    float: right;
    margin-top: 15px;
    margin-right: 15px;

}


aside#lateral h2 {
    
    color: white;
    background: red;
    border: 1pt solid black;
    padding: 5px;
    font-size: 15pt;
    text-align: center;

}

aside#lateral-servicos {

    width: 500px;
    display: block;
    float: right;
    margin-top: 15px;
    margin-right: 15px;

}


aside#lateral-servicos h2 {
    
    color: white;
    background: red;
    border: 1pt solid black;
    padding: 5px;
    font-size: 15pt;
    text-align: center;

}

img#whatsapp {

    position: sticky;
    width: 100px;
    bottom: 20px;
    padding-right: 5%;
    float: right;
    

}

footer#rodape {

    border-top: 1px solid black;
    clear: both;
    height: 40px;
                

}

footer#rodape p {

    text-align: center;
    font-size: 15pt;

}